{% extends 'Layouts/Default.html.twig' %}
{% block header %}
    Welcome
{% endblock %}

{% block body %}
    {{ parent() }}

    <code>
    {{ env }}
    </code>
    <p>
    This application serves as a test bed for the SQRL Composer Package
    </p>

{% endblock %}